* {
    box-sizing: border-box;
}

html {
    background-color: rgb(243, 243, 243);
    color: rgb(45, 45, 45);
    font-family: Arial, Helvetica, sans-serif;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }
[className*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

[className*="header"] {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.headerlogobar {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}
.headerimg {
    padding-right: 5px;
    width: 50px;
    height: 50px;
}

.headertext {
    display: flex;
    flex-direction: column;

}
.header--title {
    font-weight: bold;
    font-size: 3vw;
}
@media screen and (max-width: 1000px) {
    .header--title {
        font-size: 24pt;
    }
}
.header--description {
    font-weight: normal;
    font-size: 2.02vw;
}
@media screen and (max-width: 1000px) {
    .header--description {
        font-size: 16.2pt;
    }
}

main {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.bio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    border: solid 1px black;
}
.bio--text {
    margin-left: 50.5%;
    margin-right: 0.5%;
    width: 49%;
    border: solid 1px black;
}

.bio--heading {
    /* margin-left: 0%;
    margin-right: auto; */
    text-align: center;
    font-weight: 200;
    width: 100%;
    border: solid 0px black;
}

/* footer{

} */

