html {
    background-color: rgb(243, 243, 243);
    color: rgb(45, 45, 45);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}
.headerlogobar {
    display: flex;
    flex-direction: row;
}
.headerimg {
    padding-right: 10px;
    height: 5.02vw;
}
@media screen and (max-width: 1000px) {
    .headerimg {
        height: 50px;
        padding-right: 5px;
    }
}

.headertext {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.header--title {
    justify-content: right;
    font-weight: bold;
    font-size: 3vw;
}
@media screen and (max-width: 1000px) {
    .header--title {
        font-size: 24pt;
    }
}
.header--description {
    justify-content: right;
    font-weight: normal;
    font-size: 2.02vw;
}
@media screen and (max-width: 1000px) {
    .header--description {
        font-size: 16.2pt;
    }
}

.bio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 10px;
}
@media screen and (max-width: 1000px) {
    .bio {
        flex-direction: column;
        align-content: center;
    }
}

.bio--box {
    width: 50%;
}
@media screen and (max-width: 1000px) {
    .bio--box {
        width: 100%;
    }
}
.bio--img {
    width: 100%;
}
@media screen and (max-width: 1000px) {
    .bio--img {
        margin-left: 30%;
        width: 40%;
        align-content: center;
    }
}
@media screen and (max-width: 600px) {
    .bio--img {
        display: none;
    }
}
.bio--text {
    font-size: 1.3vw;
    border: dotted 1px black;
}
@media screen and (max-width: 1000px) {
    .bio--text {
        font-size: 2vw;
    }
}
@media screen and (max-width: 600px) {
    .bio--text {
        font-size: 3.7vw;
    }
}
.bio--heading {
    background-color: rgb(223, 223, 223);
    margin-top: 5%;
    padding: 2% 5%;
    text-align: left;
    font-weight: bold;
}
.bio--summary {
    margin-top: 1%;
    padding: 0% 5%;
    text-align: right;
}
.bio--list {
    list-style-type: none
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
}
.project {
    margin: 2%;
    width: 600px;  
}
.project--header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    font-size: 1vw;
}
.project--name {
    padding: 0% 5%;
    color: rgb(65, 80, 161);
    font-weight: bold;
}
.project--link{
    padding: 0% 5%;
    color: rgb(65, 80, 161);
}
.project--desc {
    font-size: 0.9vw;

}


/* footer{

} */

