html {
    background-color: rgb(246, 252, 255);
    color: rgb(25, 62, 81);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 0px 20px;
    justify-content: center;
}
@media screen and (min-width: 1000px) {
    .header {
        margin: 3.5%;
    }
}
    .headerlogobar {
        display: flex;
        flex-direction: row;
    }
        .headerimg {
            padding-right: 10px;
            height: 15vw;
        }
        @media screen and (min-width: 1000px) {
            .headerimg {
                padding-right: 30px;
                height: 7vw;
            }
        }

    .headertext {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        }
        .header--title {
            justify-content: right;
            font-weight: bold;
            font-size: 7vw;
        }
        @media screen and (min-width: 1000px) {
            .header--title {
                font-size: 5vw;
            }
        }
        .header--description {
            justify-content: right;
            font-weight: normal;
            font-size: 4.7vw;
        }
        @media screen and (min-width: 1000px) {
            .header--description {
                font-size: 2.7vw;
            }
        }


.bio {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0px 20px;
}
    @media screen and (min-width: 1000px) {
        .bio {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
/* @media screen and (min-width: 1500px) {
    .bio {
        width: 1500px;
        flex-direction: row;
        margin: 0% auto;
    }
} */

.bio--box {
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    justify-content: space-between;
}
@media screen and (min-width: 1000px) {
    .bio--box {
         width: 50%;
    }
}
    .bio--img {
        display: none;
    }
    @media screen and (min-width: 1000px) {
        .bio--img {
            display: block;
            width: 100%;
        }
    }

    .bio--text {
        text-align: justify;
    }
    @media screen and (min-width: 1000px) {
        .bio--text {
            color: rgb(25, 62, 81);
        }
    }
        .bio--heading {
            background-color: rgb(208, 229, 239);
            border-radius: 20px 0px 0px 20px;
            width: 101%;
            margin-top: 5%;
            padding: 2% 4%;
            font-size: 4.5vw; 
            text-align: left;
            font-weight: bold;
        }
        .bio--summary {
            font-size: 3.8vw; 
            text-align: right;
        }
        .bio--list {
            list-style-type: none
        }

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
    .project {
        width: 90%;
        margin-bottom: 10px;  
    }
        .project--header {
            display: flex;
            flex-direction: row;
            background-color: rgb(208, 229, 239);
            border-radius: 10px 10px 0px 0px;
        }
            .project--name {
                margin: auto 0px;
                padding: 2% 4% 2% 4%;
                font-size: 3vw;
                background-color: rgb(246, 252, 255);
                border-radius: 0px 10px 10px 0px;
                font-weight: bold;
            }
            .project--linkbox {
                margin-left: auto;
            }
                .project--img {
                    padding: 10px;
                    height: 10vw;
                }
        .project--textbox {
            display: flex;
            flex-direction: column;
            background-color: rgb(237, 244, 248);
            border-radius: 0px 0px 10px 10px;
        }        

.project--texttitle {
    margin: 2% 0% 2% auto;
    font-size: 3vw;
    padding: 2% 10% 2% 4%;
    background-color: rgb(246, 252, 255);
    border-radius: 10px 0px 0px 10px;
    font-weight: bold;
}
.project--text {
    padding: 4%;
    font-size: 3vw;
}



/* footer{

} */

